<div class="card card-bg-transparent">
    <div class="flex flex-column gap-4" *ngIf="homeSummary">
        <span class="text-base font-semibold text-center custom-font">{{homeSummary.gridState === gridValue.present ? 'Battery & Grid are currently powering your home.' : 'Your home is being powered by your Electric Vehicle (V2H).'}}</span>
        <img [src]="homeSummary.gridState === gridValue.present ? 'assets/demo/images/eaton/normal-view.gif': 'assets/demo/images/eaton/outage.gif'" />
    </div>
</div>