.card-bg-transparent {
    background: transparent !important;
}

.custom-font {
    color: #E8EAEA;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-style: normal;
    line-height: normal;
}
