<div class="card p-3 flex-row justify-content-between align-items-center mb-0" *ngIf="homeSummary.gridState === gridState.lost && sourceRemaining.stateOfCharge <= 10">
    <div class="flex align-items-center gap-3 flex-1">
        <div class="flex align-items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                <circle cx="20" cy="20" r="20" fill="#CA3C3D"/>
            </svg>
            <span class="absolute custom-margin">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M17 5V21C17 21.55 16.55 22 16 22H8C7.45 22 7 21.55 7 21V5C7 4.45 7.45 4 8 4H10V2H14V4H16C16.55 4 17 4.45 17 5ZM15 6H9V12H15V6Z" fill="white"/>
                </svg>
            </span>
        </div>
        <div class="flex flex-row justify-content-center align-items-center w-full">
            <div class="flex flex-column justify-content-center align-items-start gap-2 flex-1">
                <span class="text-base font-semibold">Extend Battery Life</span>
                <span class="text-sm font-normal">Do you want to turn off loads to help improve battery life?</span>
            </div>
            <span id="nav-button" class="cursor-pointer" (click)="navToBatteryExtensionPage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8.58984 16.34L13.1698 11.75L8.58984 7.16L9.99984 5.75L15.9998 11.75L9.99984 17.75L8.58984 16.34Z" fill="white"/>
                </svg>
            </span>
           
        </div>        
    </div>    
</div>