.custom-dimensions {
    padding: 0px 16px !important;
}

:host ::ng-deep p-inputSwitch {
    zoom: 70%
}

.device-count-color {
    color:#80BDE0
}

.custom-tab-padding {
    padding: 16px 8px;
}

.custom-font-color {
    color: #A1A7AA;
}

.selected-font-color {
    color: #E8EAEA;
}

.custom-rect-dimensions {
    width: 50px;
    height: 30px;
    background-color: transparent;
}

.session-disabled {
    opacity: 0.7;
    pointer-events: none;
}