<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar [homeSummary]="homeSummary"></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar [homeSummary]="homeSummary" (selectedMenuOption)="toggleScreen($event)"></app-sidebar>
    </div>
    
    <app-load-prioritization [show]="selectedScreen === menuValue.loadPrioritization" (closeScreen)="selectedScreen = ''"></app-load-prioritization>
    <app-battery-extension [show]="selectedScreen === menuValue.manageDevices" (closeScreen)="selectedScreen = ''"></app-battery-extension>
    <div class="layout-main-container">
        <div class="layout-main">
            <app-extend-battery-life-notification *ngIf="homeSummary && sourceRemaining" [sourceRemaining]="sourceRemaining" [homeSummary]="homeSummary" (showBatteryPage)="selectedScreen = menuValue.manageDevices"></app-extend-battery-life-notification>
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-mobile-footer></app-mobile-footer>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
