.header-font {
    color: var(--Primary-Black-50, #E8EAEA);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-style: normal;
    line-height: normal;
}

.custom-height {
    height: 100px;
}