<div class="surface-400 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/eaton/EatonLogoLight.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Forgot Password</div>
                    <span class="text-600 font-medium">Enter your email to reset password</span>
                </div>

                <div>
                    <form (ngSubmit)="submitForgotPassword()">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email" type="text" placeholder="Email" pInputText class="w-full md:w-full mb-5" [formControl]="email" style="padding:1rem">
    
                        <button type="submit" pButton pRipple label="Submit" class="w-full p-3 text-xl"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>