<div class="flex flex-column p-3 align-items-start gap-3 border-round-lg custom-bg-color">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
        <circle cx="20" cy="20.5" r="20" fill="#CA3C3D"/>
    </svg>
    <div class="flex flex-column justify-content-center align-items-start gap-1 custom-flex">
        <span class="text-base font-semibold time-remaining-font">{{timeRemaining}} Left</span>
        <span class="text-sm font-normal time-remaining-font">Remaining Time Left In Charge Period</span>
    </div>
</div>