<div [class]="homeSummary?.gridState === gridState.present ?'layout-topbar default-bg': 'layout-topbar outage-bg'">
   
    <div *ngIf="homeSummary" class="flex flex-column custom-size w-full">
        <div class="flex flex-row justify-content-between align-items-center align-self-stretch">
            <button #menubutton class="flex align-items-start p-link pt-3 gap-2" (click)="layoutService.onMenuToggle()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="white"/>
                </svg>
            </button>
            <span class="flex align-items-start p-link w-full pl-3 pt-3 gap-2 justify-content-between" *ngIf="layoutService.isMobile()">
                <span class="text-xl font-semibold top-bar-font pt-2">805 Wallbridge</span>
                <div class="flex flex-row">
                    <span class="flex align-items-start gap-2 p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="white"/>
                        </svg>
                    </span>
                    <span class="flex align-items-start gap-2 pt-2 pl-2 pb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="white"/>
                        </svg>
                    </span>
                    
                </div>
            </span>
          
        </div>
        
        <app-home-summary [homeSummary]="homeSummary" *ngIf="layoutService.isMobile()"></app-home-summary>
        
    </div>
    <!-- <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">       
        <button class="p-link layout-topbar-button" (click)="profileMenu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <p-menu appendTo="body" [popup]="true" [model]="items" #profileMenu></p-menu>
    </div> -->
</div>