<router-outlet></router-outlet>
<!-- <p-toast position="bottom-center"></p-toast> -->
<p-confirmPopup [style]="{'max-width': '300px'}"></p-confirmPopup>
<p-toast 
    position="top-center" 
    [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div class="flex align-items-center gap-4 border-round-2xl">
                <div class="flex align-items-center justify-content-center border-circle outage-bg" style="width: 4rem; height: 2.5rem">
                    <i class="pi pi-bolt text-white-500 text-xl"></i>
                </div>
                
                <div class="flex flex-column">
                    <div class="toast-header">{{message.summary}}</div>
                    <div class="toast-body">{{message.detail}}</div>
                </div>
            </div>
        </ng-template>
</p-toast>
