.custom-flex {
    flex: 1 0 0;
}

.custom-card-color {
    background: #2B353A;
}

.custom-position {
    margin-left: 5px
}

.custom-font {
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-style: normal;
    line-height: normal;
}

.custom-main-font-color {
    color: #E8EAEA;
}

.custom-sub-font-color {
    color: #A1A7AA;
}