<div class="main">
    <!-- <textarea *ngIf="eulaContent" readonly [value]="eulaContent" [disabled]="true" pInputTextarea  rows="30" cols="40"></textarea> -->
    <div>
        <p>Revised: September 16, 2016</p>

        <strong>
          IMPORTANT, READ CAREFULLY. THIS END USER LICENSE AGREEMENT (THE
          "AGREEMENT") IS A BINDING CONTRACT BETWEEN YOU, THE END-USER (THE
          "LICENSEE") AND EATON CORPORATION OR ONE OF ITS AFFILIATES ("EATON" OR
          "LICENSOR"). BY DOWNLOADING, INSTALLING OR USING THIS SOFTWARE
          PRODUCT, YOU, THE LICENSEE, ARE AGREEING TO BE BOUND BY THE TERMS,
          CONDITIONS, AND LIMITATIONS OF THIS AGREEMENT. READ THE TERMS AND
          CONDITIONS OF THIS AGREEMENT CAREFULLY BEFORE DOWLOADING, INSTALLING
          OR USING THE SOFTWARE. IF YOU DO NOT AGREE TO THE TERMS OF THIS
          AGREEMENT, PROMPTLY RETURN THE UNUSED SOFTWARE PRODUCT TO EATON
          CORPORATION.
        </strong>

        <p>
          <strong>1.0 Definitions</strong>
        </p>

        <p>
          <strong>1.1 Documentation. </strong>“Documentation” means the user
          guides and manuals for the installation and use of the Software,
          whether made available over the internet, provided in CD-ROM, hard
          copy, or other form.
        </p>

        <p>
          <strong>1.2 Software. </strong>"Software" means the software and/or
          firmware for which Licensee is granted a license hereunder, the
          Documentation therefor and, to the extent available, Updates thereto.
          The software and/or firmware is licensed hereunder in object code
          (machine-readable) form only.
        </p>

        <p>
          <strong>1.3 Update. </strong>"Update" means: (a) supplemental software
          or firmware, if and when developed and distributed by Eaton, that may
          contain bug fixes or alternate program functions for the Software; and
          (b) a subsequent release of the Software, if and when developed by
          Eaton. An Update does not include any release, new version, option, or
          future product, which Eaton licenses separately.
        </p>

        <p>
          <strong>2.0 Software License</strong>
        </p>

        <p>
          <strong>2.1 Ownership. </strong>Eaton and its Third Party Licensors
          (if any) retain all title, copyright and other proprietary rights in,
          and ownership of, the Software regardless of the media upon which the
          original or any copy may be recorded or fixed.
        </p>

        <p>
          <strong>2.2 License Grant. </strong>Eaton grants to Licensee a
          limited, revocable, non-assignable, non-sublicensable non-exclusive
          license to use the Software in connection with the operation of the
          Eaton Product to which the Software pertains or in which the Software
          is installed or embedded. Licensee does not acquire any rights,
          express or implied, other than those expressly granted in this
          Agreement.
        </p>

        <p>
          <strong>2.3 Restrictions and Requirements. </strong>Licensee will not,
          nor will it permit others to, modify, adapt, translate, reverse
          engineer, decompile, or disassemble the Software or any component
          thereof (including the Documentation), or create derivative works
          based on the Software (including the Documentation), except to the
          extent such foregoing restriction is prohibited by applicable law.
          Licensee will not use the Software except in connection with the
          operation of the Eaton Product to which the Software pertains or in
          which the Software is installed or embedded. Copyright laws and
          international treaties protect the Software, including the
          Documentation. Unauthorized use and copying of the Software, the
          Documentation or any part thereof, is expressly prohibited. Subject to
          these restrictions, Licensee may make one (1) copy of the Software
          solely for backup or archival purposes, and may make one (1) copy of
          the Documentation for use by Licensee in connection with its
          authorized use of the Software. Licensee will number and account for
          all such copies. All titles, trademarks, and copyright and restricted
          rights notices included in the Software and Documentation will not be
          removed and must be reproduced in any copies. For avoidance of doubt,
          Seller does not grant Buyer a license to any of Seller’s brands,
          logos, designs, trade dress, service marks, trademarks, domain names
          or trade names, in whole or in part. Licensee agrees to install all
          corrections of substantial defects, security patches, minor bug fixes
          and updates, including any enhancements, for the Software in
          accordance with the instructions and as directed by Eaton.
        </p>

        <p>
          Licensee agrees to install all corrections of substantial defects,
          security patches, minor bug fixes and updates, including any
          enhancements, for the Software in accordance with the instructions and
          as directed by Eaton.
        </p>

        <p>
          <strong>2.4 Transfer and Assignment Restrictions. </strong>Licensee
          will not sell, assign, lease, sublicense, encumber, or otherwise
          transfer its interest in this Agreement or in the Software, or the
          Documentation in whole or in part, or allow any other person (except
          Licensee's bona fide employees and contractors) or entity, including
          any parent or subsidiary of Licensee or other subsidiary of Licensee's
          parent, to use the Software without the prior written consent of
          Eaton. Licensee may transfer the Software directly to a third party
          only in connection with the sale of the Eaton product in which it is
          installed, and only after the transferee has agreed in writing to be
          bound by the terms herein. In the event of such a sale, Licensee may
          not keep any copies of the Software or any portion thereof.
        </p>

        <p>
          <strong>2.5 Verification. </strong>At Eaton's written request, not
          more frequently than annually, Licensee will furnish Eaton with a
          signed certification verifying that the Software is being used in
          accordance with the provisions of this Agreement. Eaton may audit
          Licensee's use of the Software. Any such audit will be conducted
          during regular business hours at Licensee's facilities and will not
          unreasonably interfere with Licensee's business activities.
        </p>

        <p>
          <strong>3.0 Termination.</strong>
        </p>

        <p>
          <strong>3.1 Termination. </strong>This Agreement and the license
          granted hereunder automatically terminates if Licensee breaches any
          term of this Agreement. Eaton may terminate this license at any time
          with or without cause.
        </p>

        <p>
          <strong>3.2 Effect of Termination. </strong>Immediately upon
          termination of this Agreement and/or the license granted hereunder,
          Licensee will cease using the Software and delete or destroy all
          copies of the Software and Documentation in its possession or control.
          Upon Eaton’s request, Licensee will certify in writing to Eaton the
          deletion or destruction of the Software and Documentation. Termination
          of this Agreement and return or destruction of the Software and
          Documentation will not limit Eaton from pursuing other remedies
          available to it, including injunctive relief. The parties' rights and
          obligations under the following sections of this Agreement will
          survive termination of this Agreement: Article 1.0, Section 2.1,
          Section 2.3, Section 2.4, Section 2.5, Article 3.0, Article 4.0 and
          Article 5.0.
        </p>

        <p>
          <strong>4.0 Infringement and Warranties</strong>
        </p>

        <p>
          <strong>4.1 Infringement. </strong>If Licensee learns of a threat,
          demand, allegation, or indication that the Software infringes or
          misappropriates any third party intellectual property rights
          (including but not limited to any patent, copyright, trademark, trade
          dress, or trade secret) ("IP Claim"), Licensee will promptly notify
          Eaton of such IP claim. Eaton may, in its sole discretion, elect to
          assume sole control of the defense and settlement of said IP Claim and
          Licensee will provide reasonable information and assistance to Eaton
          for the defense of such claim.
        </p>

        <p>
          <strong>4.2 Disclaimer of Warranties. </strong>THE SOFTWARE IS
          PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR
          IMPLIED, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTIES OF
          CONDITION, UNINTERRUPTED USE, MERCHANTABILITY, FITNESS FOR A
          PARTICULAR PURPOSE, QUIET ENJOYMENT, OR NON-INFRINGEMENT. EATON DOES
          NOT WARRANT THAT THE SOFTWARE WILL BE UNINTERRUPTED, ERROR-FREE OR
          SECURE FROM UNAUTHORIZED ACCESS. LICENSEE EXPRESSLY ACKNOWLEDGES THAT,
          TO THE EXTENT PERMITTED BY APPLICABLE LAW, THE INSTALLATION AND USE OF
          THE SOFTWARE IS AT LICENSEE'S SOLE RISK
        </p>

        <p>
          <strong>5.0 General Provisions.</strong>
        </p>

        <p>
          <strong>5.1 Update Policy. </strong>Eaton may from time to time, but
          has no obligation to, create Updates of the Software or components
          thereof.
        </p>

        <p>
          <strong>5.2 Limitation on Liability. </strong>NOTWITHSTANDING ANY
          PROVISION OF THIS AGREEMENT TO THE CONTRARY, LICENSEE EXPRESSLY
          UNDERSTANDS AND AGREES THAT IN NO EVENT WILL EATON OR ITS THIRD PARTY
          LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
          CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY LICENSEE
          OR ANY THIRD PARTY, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF
          PROFITS, LOSS OF REVENUE, LOSS OF DATA, LOSS OF PRODUCTION, LOSS OF
          GOODWILL, INTELLECTUAL PROPERTY INFRINGEMENT, BUSINESS INTERRUPTION OR
          LOSS OF USE, PAIN AND SUFFERING, EMOTIONAL DISTRESS OR SIMILAR
          DAMAGES, OR ANY OTHER COMMERCIAL DAMAGES OR LOSSES, ARISING OUT OF OR
          RELATED TO YOUR USE OR INABILITY TO USE THE SOFTWARE, HOWEVER CAUSED,
          REGARDLESS OF THE THEORY OF LIABILITY (CONTRACT, TORT OR OTHERWISE)
          AND EVEN IF EATON OR THE AFOREMENTIONED PARTIES HAVE BEEN ADVISED OF
          THE POSSIBILITY OF SUCH DAMAGES.
        </p>

        <p>
          TO THE EXTENT PERMITTED BY LAW, IN NO EVENT WILL EATON’S TOTAL
          CUMULATIVE LIABILITY ARISING OUT OF OR RELATED TO THIS AGREEMENT,
          WHETHER ARISING OUT OF OR RELATED TO BREACH OF CONTRACT, TORT
          (INCLUDING NEGLIGENCE) OR OTHERWISE, EXCEEED THE GREATER OF $100 OR
          THE AMOUNT LICENSEE PAID TO EATON FOR THE APPLICABLE LICENSED PRODUCT
          IN WHICH THE SOFTWARE IS EMBEDDED OR INSTALLED.
        </p>

        <p>
          THIS SECTION 5.2 STATES EATON'S ENTIRE LIABILITY AND LICENSEE'S SOLE
          AND EXCLUSIVE REMEDY UNDER THIS AGREEMENT, AND IS SUBJECT TO ALL
          LIMITATIONS STATED IN SECTION 4.2.
        </p>

        <p>
          <strong>5.3 Notices. </strong>All notices required to be sent
          hereunder will be in writing and will be deemed to have been given
          when mailed by first class mail to the address shown below:
        </p>

         <pre>
            LICENSE NOTICES 
            EATON LEGAL DEPARTMENT 
            Eaton Center 
            1000 Eaton Blvd. 
            Cleveland, OH 44122-6058 
            (440) 523-5000
        </pre>

        <p>
          <strong>5.4 Severability. </strong>If any provision of this Agreement
          is held to be invalid or unenforceable, the remaining provisions of
          this Agreement will remain in full force.
        </p>

        <p>
          <strong>5.5 Waiver. </strong>The waiver by either party of any default
          or breach of this Agreement will not constitute a waiver of any other
          or subsequent default or breach. Failure to enforce or delay in
          enforcing any provision of this Agreement will not constitute a waiver
          of any rights under any provisions of this Agreement.
        </p>

        <p>
          <strong>5.6 Entire Agreement. </strong>This Agreement constitutes the
          complete agreement between the parties and supersedes all prior or
          contemporaneous agreements or representations, written or oral,
          concerning the subject matter of this Agreement. This Agreement may
          not be modified or amended except in a writing specifically
          referencing this Agreement and signed by a duly authorized
          representative of each party. No other act, document, usage or custom
          will be deemed to amend or modify this Agreement. The Software, or
          portions thereof, may also be subject to additional paper or
          electronic license agreements. In such cases, the terms of this
          Agreement will be supplemental to those in the additional agreements,
          to the extent not inconsistent with the additional agreements. If a
          copy of this Agreement in a language other than English is included
          with the Software or Documentation, it is included for convenience and
          the English language version of this Agreement will control.
        </p>

        <p>
          <strong>5.7 Heirs, Successors, and Assigns. </strong>Each and all of
          the covenants, terms, provisions and agreements herein contained will
          be binding upon and inure to the benefit of the parties hereto and, to
          the extent expressly permitted by this Agreement, their respective
          heirs, legal representatives, successors and assigns.
        </p>

        <p>
          <strong>5.8 Export Restrictions. </strong>Licensee agrees to comply
          fully with all relevant export laws and regulations of the United
          States and all other countries in the world (the "Export Laws") to
          assure that neither the Software nor any direct product thereof are
          (I) exported, directly or indirectly, in violation of Export Laws; or
          (ii) are intended to be used for any purposes prohibited by the Export
          Laws. Without limiting the foregoing, Licensee will not export or
          re-export the Software: (i) to any country to which the U.S. has
          embargoed or restricted the export of goods or services (see
          http://www.treasury.gov/resource-center/sanctions/Programs/Pages/Programs.aspx),
          or to any national of any such country, wherever located, who intends
          to transmit or transport the Software back to such country; (ii) to
          any end user who Licensee knows or has reason to know will utilize the
          Software in the design, development or production of nuclear, chemical
          or biological weapons; or (iii) to any end-user who has been
          prohibited from participating in U.S. export transactions by any
          federal agency of the U.S. government.
        </p>

        <p>
          <strong>5.9 U.S. Government Restricted Rights. </strong>The Software
          is a "commercial item" as that term is defined at 48 C.F.R. § 2.101,
          consisting of "commercial computer software" and "commercial computer
          software documentation", as such terms are used in 48 C.F.R. § 12.212,
          and is provided to the U.S. Government only as a commercial end item.
          Consistent with 48 C.F.R. § 12.212 and 48 C.F.R. §§ 227.7202-1 through
          227.7202-4, all U.S. Government End Users acquire the Software with
          only those rights set forth herein. Contractor/manufacturer is Eaton
          Corporation, 1000 Eaton Boulevard, Cleveland, Ohio 44122.
        </p>

        <p>
          <strong>5.10 Third Party Intellectual Property Rights. </strong>The
          Software may contain components (including open source software
          components) that are owned by third parties ("Third Party Licensors")
          and are provided with, incorporated into, or embedded in, the Software
          pursuant to license arrangements between Eaton and such Third Party
          Licensors. Third Party Licensor components in the Software are not
          licensed or warranted under the terms of this document, but are
          instead subject to the Third Party Licensors' license agreements.
          Licensee will not modify, delete, or obfuscate any copyright or other
          proprietary rights notices of Third Party Licensors contained in the
          Software.
        </p>

        <p>
          <strong>5.11 Indemnity. </strong>Licensee shall defend, indemnify and
          hold Eaton and its officers, directors, employees, and agents harmless
          from and against all losses, damages, liabilities, claims, actions,
          and associated costs and expenses (including reasonable attorneys'
          fees and expenses) by reason of injury or death to any person or
          damage to any tangible or intangible property arising or resulting
          from the negligence or willful misconduct of the Licensee, its
          employees, contractors, or agents, in connection with Licensee's use
          of Software and Documentation. Licensee shall be responsible for any
          breach of this Agreement by its officers, directors, employees,
          contractors, or agents. Licensee shall defend, indemnify, and hold
          Eaton and its officers, directors, employees, and agents harmless from
          and against any and all losses, damages, liabilities, claims, actions,
          and associated costs and expenses (including reasonable attorneys'
          fees and expenses) arising out of or in connection with any breach of
          this Agreement.
        </p>

        <p>
          <strong>5.12 Confidentiality. </strong>Licensee shall not disclose or
          provide any copies of the Software to third parties. Licensee also
          acknowledges that confidential aspects of the Software (including any
          proprietary source code) are trade secrets of Eaton, the disclosure of
          which would cause substantial harm to Eaton that could not be remedied
          by the payment of damages alone. Accordingly, Eaton will be entitled
          to preliminary and permanent injunctive and other equitable relief for
          any breach of this Section 5.12.
        </p>

        <p>
          <strong>5.13 Note on JAVA Support. </strong>The Software may contain
          support for programs written in JAVA. JAVA technology is not fault
          tolerant and is not designed, manufactured, or intended for use or
          resale as online control equipment in hazardous environments requiring
          fail-safe performance, such as in the operation of nuclear facilities,
          aircraft navigation or communications systems, air traffic control,
          direct life support machines, or weapons systems, in which the failure
          of JAVA technology could lead directly to death, personal injury, or
          severe physical or environmental damage. EATON DISCLAIMS ALL DAMAGES
          INCLUDING DIRECT, INDIRECT AND CONSEQUENTIAL DAMAGES RELATING TO THE
          FAILURE OF ANY SOFTWARE INCLUDING JAVA PROGRAMS AND/OR JAVA
          TECHNOLOGY.
        </p>

        <p>
          <strong>5.14 For Consumer Licensees in California. </strong>In
          compliance with California Civil Code §1789.3, if Licensee resides in
          California, it has the right to contact Eaton with any complaints or
          to seek additional information. You may email Eaton at
          {{'dataprotection@eaton.com'}} or write to: Attn: Global Data Protection and
          Privacy Office, Eaton, 1000 Eaton Blvd., Cleveland, OH 44122. If
          Licensee resides in California and has any questions or complaints
          about the use of the Software, Licensee may also contact: The
          Complaint Assistance Unit of the Division of Consumer Services of the
          California Department of Consumer Affairs through writing at 400 R
          Street, Suite 1080, Sacramento, CA 95814, or by telephone at (916)
          445-1254 or (800) 952-5210. Hearing impaired persons may call (916)
          928-1227 or (800) 326-2297 via TTY device. For further details, please
          visit https://www.dca.ca.gov/about_us/contactus.shtml .
        </p>

        <p>
          <strong>5.14 Governing Law. </strong>This Agreement will be
          interpreted and enforced in accordance with the laws of the State of
          Ohio, U.S.A., without regard to choice of law principles. Licensee
          consents to the exclusive jurisdiction and venue of the courts of the
          State of Ohio for any action to enforce or construe the terms of this
          Agreement.
        </p>

        <p>Eaton Corporation EULA</p>
      </div>  
</div>
  <br/>
  <br/>
  <br/>
  <div class="button-group">
    <button id="reject" (click)="reject()" pButton class="p-button-secondary mr-2" label="Reject"></button>
    <button id="accept" (click)="accept()" pButton label="Accept"></button>
  </div>
  
  <p></p>
  <p></p>
  <p></p>
  <p></p>