<div class="col-12">
        <p-toast position="bottom-center"></p-toast>
        <div class="flex flex-column lg:flex-row">
            <div class="col-12 xl:col-6">
                <div class="card">
                    <div class="flex justify-content-between flex-wrap">
                        <h5>EVSE Relay</h5>
                    <p-toggleButton 
                    [(ngModel)]="trigger" 
                    onLabel="'EVSE 1 ON'" 
                    offLabel="'EVSE 2 ON'" 
                    onIcon="'pi pi-check'" 
                    offIcon="'pi pi-times'" 
                    onIcon="'pi pi-lock'" 
                    offIcon="pi pi-lock-open" 
                    styleClass="w-10rem"
                    ariaLabel="Do you confirm" 
                    (onChange)="toggleRelay()"    
                />         
                    </div>
                    <div class="mt-5">
                        <p-organizationChart  [value]="data" />
                    </div>
                    
                </div>
            </div>
            <div class="col-12 xl:col-6">
                <div class="card">
                    <div class="flex justify-content-between flex-wrap">
                        <h5>Power Supply</h5>

                        <p-toggleButton 
                        [(ngModel)]="powerSupplyTrigger" 
                        onLabel="'Power Supply ON'" 
                        offLabel="'Power Supply OFF'" 
                        onIcon="'pi pi-sun'" 
                        offIcon="'pi pi-power-off'" 
                        onIcon="'pi pi-sun'" 
                        offIcon="pi pi-power-off" 
                        styleClass="w-15rem"
                        ariaLabel="Do you confirm" 
                        (onChange)="togglePowerSupply()"    
                    />         
                    </div>
                    <div id="container">
                        <div id="lightbulb" [class]="powerSupplyTrigger ? 'on' : 'off'">
                          <div id="blush"></div>
                          <div id="sleeping">Z</div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="flex flex-column lg:flex-row">
        
            <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>Temperature</h5>
                    <p-chart *ngIf="temperature" #chart id="chart" type="line" [data]="dataTemp" [options]="optionsTemp"></p-chart>
                </div>
            </div>
            <!-- <div class="col-12 xl:col-6">
                <div class="card">
                    <h5>Current Transformer</h5>
                    <p-chart *ngIf="temperature" #chart id="chart" type="line" [data]="dataTemp" [options]="optionsTemp"></p-chart>
                </div>
            </div> -->
        </div>
    
</div>
