
<div class="col-12">
    <div class="grid">
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/transformer.webp" width="40" height="30"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">Transformer</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="success" value="Closed"/></p>
            </div>
            <div class="ml-auto">
                <!-- <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button> -->
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/circuit-breaker.webp" width="50" height="20"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">Breaker 1</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="success" value="Closed"/></p>
            </div>
            <div class="ml-auto">
                <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only" (click)="br1.toggle($event)">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button>
                <p-menu appendTo="body" [popup]="true" [model]="items" #br1></p-menu>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/circuit-breaker.webp" width="50" height="20"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">Breaker 2</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="danger" value="Open"/></p>
            </div>
            <div class="ml-auto">
                <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only" (click)="br2.toggle($event)">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button>
                <p-menu appendTo="body" [popup]="true" [model]="items" #br2></p-menu>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/circuit-breaker.webp" width="50" height="20"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">Breaker 3</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="success" value="Closed"/></p>
            </div>
            <div class="ml-auto">
                <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only" (click)="br3.toggle($event)">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button>
                <p-menu appendTo="body" [popup]="true" [model]="items" #br3></p-menu>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/circuit-breaker.webp" width="50" height="20"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">Breaker 4</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="danger" value="Open"/></p>
            </div>
            <div class="ml-auto">
                <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only" (click)="br4.toggle($event)">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button>
                <p-menu appendTo="body" [popup]="true" [model]="items" #br4></p-menu>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-4 p-3">
        <div class="p-3 border-round shadow-2 flex align-items-center surface-card">
            <div class="bg-white-100 inline-flex align-items-center justify-content-center mr-3" style="width: 48px; height: 48px; border-radius: 10px;">
                <img src="assets/demo/images/eaton/circuit-breaker.webp" width="50" height="20"/>
            </div>
            <div>
                <span class="text-600 text-lg font-medium mb-2">EV Breaker</span>
                <p class="mt-1 mb-0 text-600 font-medium text-sm"><p-tag severity="success" value="Closed"/></p>
            </div>
            <div class="ml-auto">
                <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only" (click)="br5.toggle($event)">
                    <span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
                    <span class="p-ink"></span>
                </button>
                <p-menu appendTo="body" [popup]="true" [model]="items" #br5></p-menu>
            </div>
        </div>
    </div>
</div>
</div>
<div class="flex flex-column lg:flex-row">
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="w-full flex justify-content-between flex-wrap">
                <h5 class="mt-2">Operation</h5>
                <p-tag value="Primary" value="Current State: V2H" />
            </div>
            <p-table [value]="products" [paginator]="true" [rows]="6" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Mode</th>
                        <th>Timestamp</th>
                        <th>Triggered By</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td> {{product.mode}}</td>
                        <td>{{product.timestamp}}</td>
                        <td>{{product.user}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Electricity Consumption</h5>
            <p-chart #myCanvas id="canvas" type="bar" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</div>
