    :host ::ng-deep .pi-eye,
        :host ::ng-deep .pi-eye-slash {
            transform:scale(1.6);
            margin-right: 1rem;
            color: var(--primary-color) !important;
        }


.text-need-account {
    line-height: 16px;
}

.color-need-account {
    color:#7B8387;
}

.color-highlight {
    color: #80BDE0;
}


.custom-input-dimensions {
    height: 56px;
    flex-shrink: 0;
    border: 1px solid #3C474D;
    background: #1D2529;
    border-radius: 4px;
}

:host ::ng-deep .p-password {
    height: 56px;
    flex-shrink: 0;
    border: 1px solid #3C474D;
    background: #1D2529;
    border-radius: 4px;
    input {
        background: #1D2529;
    }
} 

:host ::ng-deep .p-password, p-password {
    width: 100% !important;
} 

.card-size {
    min-width: 375px !important;
    height: 812px !important;
    background: #1D2529;
}

.custom-gap {
    gap: 39px;
}

.logo-dimensions {
    height: 82px;
    padding-right: 34px
}

.logo-font {
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    width: 154px;
}

.remember-me-box {
    gap: 21px;
}

.remember-me-text {
    color: #C6CACC;
    letter-spacing: 0.25px;
}

.custom-login-button {
    width: 155px;
    padding: 10px 20px;
    background: #007BC1;
    border: 1px solid #007BC1
}

.custom-login-footer {
    gap: 28px;
}