.custom-button-container {
    padding: 16px 16px 0px 16px;
}

.custom-button-style {
    background: #007BC1;
    border-color: #007BC1;
    color: #FFF
}

.custom-content-height {
    height: 80vh;
    overflow-y: scroll;
}