.custom-circle {
    width: 120px;
    height: 120px;
    border-radius: 86px;
    background:#333D43;
}

.img-position {
    position: absolute;
    margin-left: 31.5px;
    margin-top: 32px;
}

.header-text-color {
    color: #E8EAEA;
}

.sub-header-text-color {
    color: #A1A7AA;
}